*{
    box-sizing: inherit;
  }

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: white;
    margin: 0; /*remove margin for body (i.e. header and footer)*/
}

html {
    box-sizing: border-box;
  }


main {
    margin: 0 2.5%;
  }

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5D5C61;
    height: 300px;
    
}

h1 {
    font-size: 5em;
    text-align: center;
}

/* Background Picture **********************/

#gsr750 {
    background-image: url("../img/gsr750.JPG");
    background-size: cover;
    height: 1100px;
    width: 100%;
}



/* =====BASIC STYLING (MOBILE FIRST)===== */


p, ul{ /*clearing out standard margins for p and ul*/
  margin:0;
}
ul{ /*clearing out list-style for all ul*/
  list-style:none;
}


/* ====HEADER STYLES (MOBILE FIRST)====*/
header {
  background-color: white;
}

#menu_top{
  display:flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin: 0.5em 2.5%;
}
#logo{
  max-width: 70px;
}
#login{
  margin-top: auto;
  margin-bottom:auto;
  margin-left:auto;
  width: 8em;
  height: 2em;
  background-color: white;
  color: darkgreen;
  border: 2px solid darkgreen;
}

.menu ul { /*transform navigation into flexbox with flex-direction row*/
  display:flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 1em 0;
  border-top: 1px solid lightgrey;
  margin: auto 2.5%;
}

.menu ul li a{ /*remove text-decoration for all children*/
  text-decoration: none;
}
.menu ul li a:link{ /*unvisited link*/
  color: black;
}
.menu ul li a:visited{ /*visited link*/
  color: black;
}
.menu ul li a:hover{ /*mouse over link*/
  color: darkgreen;
}
.menu ul li a:active{ /*selected link*/
  color: darkgreen;
}
.menu ul li a.current{ /*mark current link*/
  color: darkgreen;
  font-weight: bold;
}

.menu ul li{
  display:none;
}
.menu ul li.burger{ /*display only burger menu item*/
  display:block;
  margin-left: auto;
}
.menu.responsive ul{ /*onclick: change menu flexbox direction to column*/
  flex-direction:column;
}
.menu.responsive ul li{ /*onclick: display all flex items*/
  display:block;
}


.menu.responsive ul li.burger{ /*display burger menu as first flex-item aligned to the right*/
  order:-1;
  align-self:flex-end;
}

/* ====FOOTER STYLES (MOBILE FIRST)==== */
footer{ /*basic footer styles and turn into flexbox*/
  background-color: lightgrey;
  display:flex;
  flex-flow:column nowrap;
  color: rgb(65, 65, 65);
  margin: 0 2.5%;
}
footer>div, footer div:first-child {/*let flexbox items grow/shrink equally with viewport size*/
  flex:1;
  padding: 1.5em;
  margin: 0 2em;
}
.ftitle { /*center footer titles*/
  text-align: center;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.fbody { /*flex footer bodies and justify content space-around*/
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  text-align:center;
}
footer div img{ /*fix width (and height) of icons*/
  width: 50px;
}

/* ===== Landing Page ===== */

.responsive {
  max-width: 60%;
  height: auto;
}

.flex-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 4em;
}
#btnRegister {
  display:block;
  width: 30em;
  height: 3em;
  background-color: grey;
  border: 1px solid darkgreen;
  color: white;
  margin: 1em auto;
  margin-bottom: 4em;
}

.plp {
  text-align: center;
}

  
@media all and (min-width: 100em) {
    .flex-container {
        width: 33.33%;
        }
      }

      .flex-container1 {
        display: flex;
        flex-direction: column;
        width: 100%;
      }


.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}


.RegisterBtn {
  margin: 2%;
  align-self: center;
}


/* =====FEEDBACK STYLES (MOBILE FIRST)==== */
form ul{ /*clearing out form list styles*/
  margin:0;
  padding:0;
}
form{ /*form dimensions and styling*/
  max-width: 50em;
  padding: 1em;
  margin: 2em auto;
}
form ul li{ /*turn each form element into flexbox with flex-direction column*/
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 1em;
}
input[type="text"] { /*adjust input form styles*/
  height: 2em;
  border: black 1px solid;
}
textarea { /*adjust textarea form styles*/
  height: 10em;
  border: black 1px solid;
  overflow: auto;
  resize: none;
}
input[type="submit"] { /*adjust submit button styles and align right*/
  height: 2em;
  width: 10em;
  border: black 1px solid;
  margin-left: auto;
}
li.invalid{ /*when errormessage li-element is created apply styles*/
  display:block;
  color:red;
  margin-top:-1em;
}
li.valid{
  display:none;
}
p.response{
  color: red;
  margin-top: 1em;
}
.submitted{
  display:none;
}
#chartContainer{
  max-width: 300px;
  margin: 1em auto;
}


@media screen and (min-width: 600px) {
  /* =====BASIC STYLING=====*/
  h1{ /*increase font size*/
    font-size: 3em;
  }

  /* ==== HEADER STYLES ==== */
  .menu ul li{ /*show all navigation items except for burger menu*/
    display:block;
    margin: 0 1em;
  }
  .menu ul li:first-child{
    margin-left: 0;
  }
  .menu ul li.burger {
    display: none;
  }

  /* ====FOOTER STYLES====*/
  footer{
    flex-flow: row nowrap;
  }  
}

@media screen and (min-width: 800px) { /*angepasst*/
  /* =====FEEDBACK STYLES====*/
  form ul li{ /*change flex-direction for flexbox elements*/
    flex-flow: row wrap;
  }
  label { /*fix labels at 18ems wide*/
    flex: 0 0 18em;
    text-align: end;
    margin-right: 1em;
  }
  input, textarea { /*let form input/textarea fill whole width*/
    flex: 1 1 29em; /*angepasst*/
  }
  input[type="submit"] {
    flex: 0 0 10em;
  }
  li.invalid{ /*when error message is displayed with min-width800px viewport apply responsive styles*/
    width: 29em;
    margin-left:auto;
  }
  p.response{
    text-align: center;
  }

}


/* ===== Route Search Page ===== */

#flexContainerImg {
  display: flex;
  justify-content: center;
  margin-top: 3%;
 
}

#imgContainer {
  display: block;
  margin: 20px;
  width: 50%;
}

#mapImage {
  width: 100%;
}

#dropdownContainer {
  display: flex;
  justify-content: space-around;
}

select {
  display: block;
  margin: 2%;
}

#routeBtn {
  margin: 2%;
  align-self: center;
}

