* {
  box-sizing: inherit;
  text-decoration: none;
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-color: white;
  margin: 0; /*remove margin for body (i.e. header and footer)*/
}

html {
  box-sizing: border-box;
}

main {
  margin: 0 2.5%;
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5d5c61;
  height: 300px;
}

h1 {
  font-size: 10em;
  text-align: center;
}
h2 {
  font-size: 2.5em;
  text-align: center;
  margin-top: 0em;
}

/* Background Picture **********************/

/* #gsr750 {
  background-image: url("../img/gsr750.JPG");
  background-size: cover;
  height: 1100px;
  width: 100%;
} */

/* =====BASIC STYLING (MOBILE FIRST)===== */

p,
ul {
  /*clearing out standard margins for p and ul*/
  margin: 0;
}
ul {
  /*clearing out list-style for all ul*/
  list-style: none;
}

/* COMPLETED ====HEADER STYLES (MOBILE FIRST)====*/
#menu_top {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  margin: 0.5em 2.5%;
}
.login-btn {
  margin-left: 2em;
  width: 9em;
  height: 2em;
  background-color: white;
  color: darkgreen;
  border: 2px solid darkgreen;
}
#logo {
  max-width: 70px;
}
#logolink{
  margin-right: auto;
}
#profileimg{
  max-width: 70px;
  max-height: 50px;
}
.menu {
  /*transform navigation into flexbox with flex-direction column*/
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 1em 0;
  border-top: 1px solid lightgrey;
  margin: auto 2.5%;
}
.menulink{
  display: none; 
  text-decoration: none; 
}
.menulink:link, .menulink:visited {
  /*unvisited and visited link*/
  color: black;
}
#burger {
  display: block;
  width: 1em;
  margin-left: auto;
  order: -1;
  align-self: flex-end;
}
.mobile {
  /*onclick: display all flex items*/
  display: block;
}


/* COMPLETED ====FOOTER STYLES (MOBILE FIRST)==== */
footer {
  /*basic footer styles and turn into flexbox*/
  border-top: 1px solid lightgrey;
  display: flex;
  flex-flow: column nowrap;
  color: rgb(65, 65, 65);
  margin: 0 2.5%;
}
footer > div,
footer div:first-child {
  /*let flexbox items grow/shrink equally with viewport size*/
  flex: 1;
  padding: 1.5em;
  margin: 0 2em;
}
.ftitle {
  /*center footer titles*/
  text-align: center;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.fbody {
  /*flex footer bodies and justify content space-around*/
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  text-align: center;
}
footer div img {
  /*fix width (and height) of icons*/
  width: 50px;
}

/* ===== Landing Page ===== */

.responsive {
  max-width: 60%;
  height: auto;
}

.flex-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 4em;
}
#btnRegister {
  display: block;
  width: 30em;
  height: 3em;
  background-color: grey;
  border: 1px solid darkgreen;
  color: white;
  margin: 1em auto;
  margin-bottom: 4em;
}

.plp {
  text-align: center;
}

/* NEW ===== PROFILE =====*/
.profile-outer {
  padding-bottom: 2em;
}
.profile-title{
  font-size: 3em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
.profile-inner{
  width: 70%;
  margin: auto;
  margin-bottom: 3em;
  background-color: lightgrey;
  padding: 2em;
}
.profile-title2{
  font-size: 2em;
  text-align: center;
  margin-top: 0em;
  margin-bottom: 1em;
  font-weight: bold;
}
.profile-group{
  display: flex;
  flex-flow: column wrap;
  flex: 1 0 0;
  align-items: center;
}
.profile-group li {
  margin-top: 0.75em;
}
#pt2{
  margin-top: 1.5em;
}
.profile-group li{
  display: flex;
  flex-flow: column nowrap;
}
.profile-label {
  font-weight: bold;
  width: 12em;
  display: block;
}
.profile-value{
  display: block;
  width: 20em;
}

@media all and (min-width: 100em) {
  .flex-container {
    width: 33.33%;
  }
}

.flex-container1 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.RegisterBtn {
  margin: 2%;
  align-self: center;
}




/* COMPLETED ===== LOGIN/LOGOUT/REGISTER ===== */
.form-title {
  font-size: 3em;
  text-align: center;
  margin-top: 0em;
  margin-bottom: 1em;
  font-weight: bold;  
}
.form-outer {
  max-width: 40em;
  margin: auto;
  margin-bottom: 3em;
  background-color: lightgrey;
  padding: 2em;
}
.form-inner {
  display: flex;
  flex-flow: column wrap;
}
.form-group {
  display: flex;
  flex-flow: column nowrap;
  margin: 0.5em auto;
  max-width: 30em;
}
.form-error {
  display: block;
  color: red;
  margin-bottom: 1em;
}
.form-label {
  display: block;
  width: 10em;
  text-align: left;
}
#form-login-error {
  color: red;
}
#form-register-error{
  color: red;
}
.form-input {
  display: block;
  width: 20em;
  height: 2em;
}
.form-submit {
  display: block;
  height: 3em;
  width: 15em;
  color: darkgreen;
  margin: 2em auto;
  border: 1px solid darkgreen;
  font-weight: bold;
}
.form-hint {
  text-align: center;
  margin: auto;
}

@media screen and (min-width: 600px) {
  /* =====BASIC STYLING=====*/
  h1 {
    /*increase font size*/
    font-size: 4em;
    
  }
  h2 {
    font-size: 2.5em;
  }

  /* COMPLETED ===== LOGIN/LOGOUT/REGISTER ===== */
  .form-inner {
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }
  .form-group{
    flex-flow: row nowrap;
  }
  .form-label{
    flex: 0 0 10em;
    text-align: start;
    margin-top:auto;
    margin-bottom: auto;
    margin-right: 1em;
    border: 1px solid black;
  }
  .form-input{
    flex: 1 1 29em;
  }

  /* COMPLETED ==== HEADER STYLES ==== */
  .menu{
    flex-flow: row nowrap;
  }
  .menulink {
    /*show all navigation items except for burger menu*/
    display: block;
    text-decoration: none;
    margin: 0 1em;
  }
  .menulink:first-child {
    margin-left: 0;
  }
  #burger {
    display: none;
  }

  /* COMPLETED ====FOOTER STYLES====*/
  footer {
    flex-flow: row nowrap;
  }

  /* COMPLETED ====PROFILE STYLES====*/
  .profile-group li{
  flex-flow: row nowrap;
  }
  .profile-label{
    flex: 0 0 10em;
    text-align: start;
    margin-top:auto;
    margin-bottom: auto;
    margin-right: 1em;
  }
  .profile-value{
    width: 18em;
  }
}





/* ===== Route Search Page ===== */

#flexContainerImg {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

#imgContainer {
  display: block;
  margin: 20px;
  width: 50%;
}

#mapImage {
  width: 100%;
}

#dropdownContainer {
  display: flex;
  justify-content: space-around;
}

select {
  display: block;
  margin: 2%;
}

#routeBtn {
  margin: 2%;
  align-self: center;
}

/*********** This section is for the leaflet API ************/

#leafletMapContainer {
  height: 50em;
}



